.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1rem;
    padding: 1em;
}

/* like dislike */

button{
    color: white;
    padding: 1rem;
    display: inline-block;
    border-radius: 50%;
}
.active{
    background-color: rgb(7, 218, 7);
}

.inactive{
    background-color: grey;
}