.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1rem;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;

}
.remove-margin{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.rounded-button{
    border-radius: 15px;
}
.button{
    color: white;
    background-color: rgb(14, 107, 230);
    display: inline-block; 
    padding-top: 1px;
    padding-bottom: 1px;
    
   
}
.active{
    background-color: rgb(7, 218, 7);
    content: 'Like';
}

.inactive{
    background-color: rgb(122, 197, 100);
}

.likebutton{
    
    background-color: rgba(154, 158, 155, 0.493);
    padding: 1rem;
    display: inline-block;
    border-radius: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    color: #535664;
    font-family: 'Roboto', sans-serif;
  }
  
  .like-button,
  .dislike-button {
    border: 1px solid #afb0b0;
    background: linear-gradient(to bottom, #e6e7e7 0%, #f5f5f5 100%);;
    padding: 0 5px;
  }
  
  .like-button {
    margin-right: 10px;
  }
  
  .liked, .disliked {
    font-size: 20px;
    font-weight: 700;
    color: #1e6ab6;
    padding: 0 8px;
  }